@page "/fetchdata"

@using blazor.Data
@inject PeopleService MyPeopleService

<h1>Star Wars Characters</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (result == null)
{
    
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name </th>
                <th>Birth Year</th>
                <th>Gender</th>
                <th>Hair Color</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in result.Results)
            {
                <tr>
                    <td>@person.Name</td>
                    <td>@person.Birth_Year</td>
                    <td>@person.Gender</td>
                    <td>@person.Hair_Color</td>
                </tr>
            }
        </tbody>
    </table>
}

<button class="btn btn-primary" @onclick="GetPrevious">Previous</button>
<button class="btn btn-primary" @onclick="GetNext">Next</button>


@code {
    private JsonWrapper result;

    protected override async Task OnInitializedAsync()
    {
       await LoadData(String.Empty);
    }


    private async Task LoadData(string url)
    {
        result = await MyPeopleService.GetPeopleAsync(url);
        await InvokeAsync(() => StateHasChanged())
                        .ConfigureAwait(false);

    }

    private async void GetNext()
    {
        await LoadData(result.Next);
    }

     private async void GetPrevious()
    {
        await LoadData(result.Previous);
    }
}
